body {
    color: white;
    background-image: url(../img/Carbon-Fibre-Texture.jpg)
}


#round {
    border-radius: 200px;
    
}
#columnA {

margin: inherit;
margin-bottom: 20px;
}

#columnB {
  
    margin: auto;
   
}
#columnC {

    margin: auto;

}
header img {
  width: 50px;
  border-radius: 50px;

}

footer img {
  width: 100px;
}

footer section {

  
}
/* Header */
h1{
    font-size: 24pt;
    font-family: "Courier New", Courier, monospace;  
    margin:50px 0px 50px 0px; 
}

h2 {
    font-size: 16pt;
     font-family: "Courier New", Courier, monospace;  
    margin:50px 0px 0px 0px; 
}

h3 {
    font-size: 12pt;
    font-family: "Courier New", Courier, monospace;  
    margin:50px 0px 0px 0px; 
}

p {
    font-family: "Courier New", Courier, monospace;    
    font-size: 10pt;
}

nav li {
    font-family: "Courier New", Courier, monospace;  
    margin:25px 0px 0px 0px; 
    list-style: none;
    display: ilnine;
    float: left;
    
}

nav a {
    background: #555252;
    width: 100px;
    border-bottom: 2px solid #131714;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

nav a:hover{
    background: #e0a649;
    color: black;    
}

li {
    font-size: 12px;
     font-family: "Courier New", Courier, monospace;  
}